@font-face {
  font-family: "Avenir";
  src: url("fonts/avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/avenir/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/avenir/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/avenir/Avenir-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("fonts/helvetica/Helvetica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to bottom,
    rgba(246, 250, 253, 1),
    rgba(255, 255, 255, 1)
  );
}

.navigation {
  height: 130px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 9px;
  margin-bottom: 10px;
}

.first-logo-element {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(156, 105, 226);
  transition-duration: 0.3s;
}

.second-logo-element {
  width: 20px;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(240, 99, 184);
  transition-duration: 0.3s;
}

.links-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.about-link {
  font-family: "Avenir", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgb(33, 35, 83);
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.info-nav-links {
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(75, 93, 104);
  cursor: not-allowed;
}

.btn-request {
  width: 210px;
  height: 30px;
  background-color: #fff;
  color: rgb(33, 35, 83);
  text-align: center;
  font-family: "Avenir", sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.arrow-for-btn {
  color: rgb(156, 105, 226);
  font-size: 16px;
  margin-left: 10px;
  transition-duration: 0.5s;
  display: inline-block;
}

.header {
  height: calc(100vh - 145px);
  display: flex;
}

.header-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}

.main-title {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 20px;
  color: rgb(33, 35, 83);
  width: 300px;
  margin-bottom: 50px;
}

.header-info-text {
  font-family: "Avenir";
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: rgba(75, 93, 104);
  width: 300px;
  margin-bottom: 30px;
}

.btn-learn-more {
  padding: 10px 24px;
  border-radius: 50px;
  background-color: rgb(156, 105, 226);
  border: none;
  color: #fff;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header-img {
  width: 280px;
  height: 160px;
  background-image: url(/images/img1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
}

.info-section {
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.img-info-section {
  width: 300px;
  height: 300px;
  background-image: url(./images/img2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.container-title-text-info-section {
  padding: 10px 0;
  text-align: center;
}

.title-info-section {
  width: 300px;
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgb(33, 35, 83);
}

.text-info-section {
  margin-bottom: 20px;
  width: 300px;
  font-family: "Avenir";
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: rgb(75, 93, 104);
}

.features-section {
  padding: 50px 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-features-section {
  width: 300px;
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgb(33, 35, 83);
}

.text-features-section {
  width: 300px;
  font-family: "Avenir";
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: rgb(75, 93, 104);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 36px;
  padding: 36px 0;
}

.grid-rectangle {
  width: 250px;
  height: 202px;
  position: relative;
  transition-duration: 0.2s;
}

.grid-rectangle img:first-child {
  width: 100%;
  height: 100%;
}

.grid-title {
  color: rgb(33, 35, 83);
  position: absolute;
  top: 7%;
  left: 50%;
  font-family: "Helvetica";
  font-weight: normal;
  font-size: 15px;
  z-index: 3;
}

.text-grid {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 10px;
  color: rgb(75, 93, 104);
  width: 116px;
  position: absolute;
  left: 50%;
  top: 21%;
  text-align: left;
}

.btn-learn-more-grid {
  padding: 5px;
  text-decoration: none;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 14px;
  color: rgb(33, 35, 83);
  position: absolute;
  left: 50%;
  top: 78%;
}

.grid-image {
  width: 110px;
  height: 100px;
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 1;
}

.figures-grid-vector {
  position: absolute;
  z-index: 0;
}

.ellipses-grid {
  position: absolute;
  z-index: 2;
}

.first-figure {
  width: 100px;
  height: 60px;
  left: 51%;
  top: 5%;
  transform: rotate(-1deg);
}

.first-ellipse {
  width: 17px;
  height: 12px;
  left: 67%;
  top: 13%;
}

.second-figure {
  width: 112px;
  height: 65px;
  left: 47%;
  top: 57%;
  transform: rotate(-183deg);
}

.second-ellipse {
  width: 34px;
  height: 20px;
  left: 81%;
  top: 7%;
  transform: rotate(124deg);
}

.third-figure {
  width: 160px;
  height: 90px;
  left: 14%;
  top: 6%;
  transform: rotate(126deg);
}

.third-ellipse {
  width: 31px;
  height: 18px;
  left: 81%;
  top: 70%;
  transform: rotate(11deg);
}

.testimonials-container {
  background-color: rgb(156, 105, 226);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-title {
  padding: 10px 0;
  color: white;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 20px;
}

.testimonials-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  color: #fff;
  font-size: 30px;
}

.testimonial {
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.client-photo {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-bottom: 10px;
}

.first-testomonial {
  width: 200px;
  height: 300px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}

.second-testomonial {
  display: none;
}

.third-testomonial {
  display: none;
}

.testimonial-name {
  font-family: "Avenir";
  color: rgb(33, 35, 83);
  font-size: 18px;
}

.testimonial-position {
  font-family: "Avenir";
  color: rgba(156, 105, 226);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testimonial-content {
  font-family: "Avenir";
  font-size: 14px;
}

.scroll-dots {
  padding: 5px;
  display: flex;
  align-items: center;
}

.first-dot {
  color: rgb(240, 99, 184);
  font-size: 30px;
  margin: 3px;
}

.dots {
  color: white;
}

@media (hover: hover) {
  .logo:hover .first-logo-element {
    width: 20px;
    height: 35px;
    background-color: rgb(240, 99, 184);
  }

  .logo:hover .second-logo-element {
    width: 20px;
    height: 20px;
    background-color: rgb(156, 105, 226);
  }

  .about-link:hover {
    transform: scale(1.07);
  }

  .btn-request:hover {
    transform: scale(1.05);
  }

  .btn-request:hover .arrow-for-btn {
    transform: scale(1.5);
    color: rgb(240, 99, 184);
  }

  .btn-learn-more:hover {
    background: rgb(240, 99, 184);
  }

  .grid-rectangle:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 576px) {
  .navigation {
    height: 150px;
  }

  .logo {
    margin-bottom: 20px;
  }

  .links-container {
    gap: 60px;
  }

  .btn-request {
    height: 40px;
  }

  .header {
    height: calc(100vh - 165px);
  }

  .main-title {
    font-size: 35px;
    width: 500px;
  }

  .header-info-text {
    font-size: 20px;
    width: 500px;
  }

  .btn-learn-more {
    padding: 14px 56px;
  }

  .header-img {
    width: 500px;
    height: 250px;
  }

  .img-info-section {
    width: 500px;
    height: 540px;
  }

  .title-info-section {
    width: 500px;
    font-size: 26px;
    margin-bottom: 40px;
  }

  .text-info-section {
    margin-bottom: 30px;
    width: 500px;
    font-size: 20px;
  }

  .title-features-section {
    width: 500px;
    font-size: 26px;
    margin-bottom: 40px;
  }

  .text-features-section {
    width: 500px;
    font-size: 20px;
  }

  .grid-rectangle {
    width: 400px;
    height: 320px;
  }

  .grid-image {
    width: 160px;
    height: 140px;
    left: -10%;
  }

  .grid-title {
    font-size: 26px;
    left: 40%;
  }

  .text-grid {
    font-size: 16px;
    width: 180px;
    left: 40%;
  }

  .btn-learn-more-grid {
    font-size: 21px;
    left: 40%;
  }

  .arrow-for-btn {
    font-size: 21px;
  }

  .first-figure {
    width: 150px;
    height: 90px;
  }

  .first-ellipse {
    width: 25px;
    height: 18px;
  }

  .second-figure {
    width: 168px;
    height: 98px;
  }

  .second-ellipse {
    width: 50px;
    height: 30px;
  }

  .third-figure {
    width: 240px;
    height: 135px;
  }

  .third-ellipse {
    width: 45px;
    height: 27px;
  }
}

@media (min-width: 768px) {
  .navigation {
    height: 45px;
    margin-top: 50px;
  }

  .navigation-container {
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .links-container {
    margin-bottom: 0;
    margin-right: 170px;
    gap: 20px;
  }

  .btn-request {
    height: 45px;
  }

  .header {
    height: calc(100vh - 95px);
  }

  .header-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header-info-container {
    text-align: left;
    align-items: flex-start;
  }

  .main-title {
    font-size: 60px;
  }

  .header-info-text {
    width: 250px;
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 28px;
  }

  .btn-learn-more {
    padding: 18px 38px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
  }

  .header-img {
    width: 650px;
    height: 330px;
    top: 40%;
    left: 30%;
  }

  .info-section {
    flex-direction: row;
    justify-content: center;
    gap: 42px;
  }

  .img-info-section {
    width: 350px;
    height: 370px;
  }

  .title-info-section {
    width: 330px;
    font-size: 30px;
  }

  .text-info-section {
    width: 320px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }

  .container-title-text-info-section {
    padding: 75px 0;
    text-align: start;
  }

  .features-section {
    padding: 150px 0;
  }

  .title-features-section {
    font-size: 30px;
  }

  .text-features-section {
    font-size: 16px;
    line-height: 28px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }

  .grid-rectangle {
    width: 350px;
    height: 280px;
  }
}

@media (min-width: 1200px) {
  .navigation {
    height: 70px;
  }

  .container {
    width: 1120px;
  }

  .logo {
    margin-right: 120px;
  }

  .links-container {
    margin-right: 420px;
    gap: 40px;
  }

  .btn-request {
    height: 60px;
  }

  .header {
    height: calc(100vh - 120px);
    margin-bottom: 100px;
  }

  .main-title {
    font-size: 80px;
    width: 645px;
    margin-bottom: 50px;
  }

  .header-info-text {
    font-size: 18px;
    width: 380px;
    margin-bottom: 50px;
  }

  .header-img {
    width: 885px;
    height: 468px;
    top: 96px;
    left: 360px;
  }

  .info-section {
    padding: 30px 0;
    gap: 62px;
  }

  .img-info-section {
    width: 504px;
    height: 478px;
  }

  .container-title-text-info-section {
    padding: 95px 0;
    text-align: start;
  }

  .title-info-section {
    width: 475px;
    font-size: 40px;
  }

  .text-info-section {
    width: 475px;
    font-size: 18px;
  }

  .title-features-section {
    width: 584px;
    font-size: 40px;
  }

  .text-features-section {
    width: 584px;
    font-size: 18px;
  }

  .grid-container {
    column-gap: 145px;
    row-gap: 50px;
    padding: 100px 0;
  }

  .grid-rectangle {
    width: 442px;
    height: 358px;
  }

  .grid-image {
    width: 238px;
    height: 200px;
    top: 20%;
    left: -25%;
  }

  .grid-title {
    font-size: 24px;
    top: 17%;
  }

  .text-grid {
    width: 220px;
    line-height: 26px;
    top: 35%;
  }

  .btn-learn-more-grid {
    font-size: 16px;
    top: 81%;
  }
  .first-figure {
    width: 203px;
    height: 118px;
  }

  .first-ellipse {
    width: 34px;
    height: 20px;
  }

  .second-figure {
    width: 224px;
    height: 130px;
  }

  .second-ellipse {
    width: 68px;
    height: 40px;
  }

  .third-figure {
    width: 322px;
    height: 188px;
  }

  .third-ellipse {
    width: 62px;
    height: 36px;
  }
}
